<header>
    <nav>
        <a href="/">Resume Chatbot CMS</a>
        <ul>
            <li><a href="/receivedUsers">ReceivedUsers</a></li>
            <li><a href="/receivedUsers/new">Add user</a></li>
        </ul>
    </nav>
</header>