<header>
    <nav>
        <a href="/">Resume Chatbot CMS</a>
        <ul>
            <li><a href="/receivedUsers">ReceivedUsers</a></li>
            <li><a href="/receivedUsers/new">Add user</a></li>
            <li><a href="/chatbotDocuments">Chatbot Documents</a></li>
            <li><a href="/chatbotRespones">Chatbot Respones</a></li>
            <ul>
                <li><a href="/chatbotRespones/new">Introduction</a></li>
                <li><a href="/chatbotRespones/new">Project</a></li>
                <li><a href="/chatbotRespones/new">Skills</a></li>
                <li><a href="/chatbotRespones/new">Working Experience</a></li>
                <li><a href="/chatbotRespones/new">Education</a></li>
                <li><a href="/chatbotRespones/new">Welcome Respone</a></li>
            </ul>



        </ul>
    </nav>
</header>
<!-- Introduction Project Skills Working Experience education Default Welcome Intent -->