<header>
    <nav>
        <a href="/">Resume Chatbot CMS</a>
        <ul>
            <li><a href="/receivedUsers">ReceivedUsers</a></li>
            <li><a href="/receivedUsers/new">Add user</a></li>
            <li><a href="/chatbotDocuments">Chatbot Documents</a></li>
            <li><a href="/chatbotDocuments/new">Add Chatbot Documents</a></li>
            <li><a href="/chatbotRespones">Chatbot Respones</a></li>
            <ul>
                <li><a href="/chatbotRespones/newIntroduction">Introduction</a></li>
                <li><a href="/chatbotRespones/newProject">Project</a></li>
                <li><a href="/chatbotRespones/newSkills">Skills</a></li>
                <li><a href="/chatbotRespones/newWorkingExperience">Working Experience</a></li>
                <li><a href="/chatbotRespones/newEducation">Education</a></li>
                <li><a href="/chatbotRespones/newWelcomeRespone">WelcomeRespone</a></li>
            </ul>



        </ul>
    </nav>
</header>
<!-- Introduction Project Skills Working Experience education Default Welcome Intent -->