<div>
    <label>Type</label>

    <select name="type" id="intent-type-select">
        <option value="info">Info</option>
        <option value="description">Description</option>
        <option value="image">Image</option>
        <option value="button">Button</option>
        <option value="list">List</option>
        <option value="accordtion">Accordion</option>
        <option value="suggestion chip">Suggestion Chip</option>
        <option value="combining">Combining</option>
    </select>
    <button id="intent-type-btn">Select Type</button>
</div>

<div id="chatbot-respones-panel">
    <!-- respones type -->


</div>