<h2>Search Chatbot Document</h2>
<form action="/chatbotDocuments" method="GET">
    <div>
        <label>Title</label>
        <input type="text" name="title" value="<%= searchOptions.title %>">
    </div>


    <button type="submit">Search</button>
</form>
<div>
    <% chatbotDocuments.forEach(chatbotDocuments=> { %>
        <img height="450" width="400" src="<%= chatbotDocuments.coverImagePath %>">
        <% }) %>
</div>